@media screen and (max-width: 1005px) {
    body{
        padding-top: 10%;
    }

    h1{
        padding-bottom: 5%;
    }

    .boxes{
        width: 95%;
        padding-bottom: 13%;
    }

    h2{
        font-size: 19.5px;
    }

    .btn{
        width: 5%;
    }

    .text{
        bottom: -20px;
    }

    blockquote{
        width: 100%;
        margin: auto;
        text-align: center;

        
    
        transition: 0.8s ease-out;
        opacity: 0;
    }

    .text.active{
        height: 966px;
        padding: 30px;
    }

    .text.unic.active{
        height: 1480px;
        padding: 50px;
    }
    
    .text.active p{
        opacity: 1;
        padding: 5px;

        margin-top: 7%;
    
        display: inline-block;
    }
}
